<!-- About Section Start -->
<section class="about-section" id="about">
    <div class="container">
        <div class="row">
            <div class="about-img">
                <div class="img-box">
                    <div class="shape-02">
                    </div>
                    <img src="img/about.jpg" alt="about me">
                </div>
            </div>
            <div class="about-content">
               <div class="row">
                <div class="section-title">
                     <h1>About Me</h1>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

              <div class="stats">
                    <div class="row">
                         <div class="stat-box">
                             <h2>15</h2>
                             <h5>Awards Won</h5>
                         </div>
                         <div class="stat-box">
                             <h2>50</h2>
                             <h5>Projects Done</h5>
                         </div>
                         <div class="stat-box">
                             <h2>45</h2>
                             <h5>Happy Clients</h5>
                         </div>
                         <div class="stat-box">
                             <h2>5000</h2>
                             <h5>All Shoots</h5>
                         </div>
                    </div>
              </div>
              <!-- contact btn -->
              <a href="#" class="btn btn-01">Contact Me</a>

            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
