<!-- main -->
<section class = "section-four">
    <div class = "container">
        <div class = "blogs">
            <div class = "blog-wrapper-lg">
                <!-- single blog post -->
                <div class = "blog">
                    <img src = "img/batterfly2.jpg">
                    <div class = "blog-content">
                        <span class = "badge">Photography</span>
                        <span class = "misc-info">
                            Published: 1 Week Ago | 25 Comments
                        </span>
                        <h3 class = "blog-title">
                            Best Photography Tips For Beginners
                        </h3>
                        <p class = "blog-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, eligendi!
                        </p>
                        <a href = "#" class = "btn">Read More</a>
                    </div>
                </div>
                <!-- end of single post -->
  
                <!-- single blog post -->
                <div class = "blog">
                    <img src = "img/pic3.jpg">
                    <div class = "blog-content">
                        <span class = "badge">Photography</span>
                        <h3 class = "blog-title">
                            Best Photography Tips For Beginners
                        </h3>
                        <p class = "blog-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, eligendi!
                        </p>
                        <a href = "#" class = "btn">Read More</a>
                    </div>
                </div>
                <!-- end of single post -->
            </div>

        </div>
    </div>
  </section>
  <!-- end of main -->