<!-- main -->
<section class = "section-five">
  <div class = "container">
      <div class = "contact-top">
          <h3>CONTACT ME</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, nobis.</p>
      </div>

      <div class = "contact-middle">
          <div>
              <span class = "contact-icon">
                  <i class = "fas fa-map-signs"></i>
              </span>
              <span>Address</span>
              <p>Main Street - Bundoora VIC 3083</p>
          </div>

          <div>
              <span class = "contact-icon">
                  <i class = "fas fa-phone"></i>
              </span>
              <span>Contact Number</span>
              <p>0567 3485 2902</p>
          </div>

          <div>
              <span class = "contact-icon">
                  <i class = "fas fa-paper-plane"></i>
              </span>
              <span>Email Address</span>
              <p>info@gmail.com</p>
          </div>

          <div>
              <span class = "contact-icon">
                  <i class = "fas fa-globe"></i>
              </span>
              <span>Website</span>
              <p>www.mycarera.com</p>
          </div>
      </div>

      <div class = "contact-bottom">
          <form class = "form">
              <input type = "text" placeholder="Your Name">
              <input type = "email" placeholder="Your Email">
              <input type = "text" placeholder="Subject">
              <textarea rows = "9" placeholder="Message"></textarea>
              <input type = "submit" class = "btn" value = "Send Message">
          </form>

          <!-- Map -->
          <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50507.534944141094!2d145.02938752263282!3d-37.70275243636025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad648bf8539b447%3A0x5045675218cd130!2sBundoora%20VIC%203083!5e0!3m2!1sen!2sau!4v1645274535466!5m2!1sen!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
      </div>
  </div>
</section>
<!-- end of main -->
