<!-- ** main ** -->
<section class = "section-one">
    <div class = "container">
        <div class = "sec-one-left">
            <!-- image here -->
            <div>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos suscipit ut aliquid ab illo. Repellat nam molestias repellendus perspiciatis blanditiis.</p>
                <a href = "#" class = "btn">view all</a>
            </div>
        </div>

        <div class = "sec-one-right">
            <div class = "work-content">
                <h3>AMAZING TEAM WORK WITH PROFESSIONAL PHOTOGRAPHER</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ducimus laboriosam facilis repudiandae neque minus in corrupti consequatur illum placeat nam libero adipisci quidem doloribus, numquam eius delectus quaerat omnis illo earum necessitatibus natus soluta deserunt iusto. Modi, soluta quos.</p>
                <a href = "#" class = "btn">view all</a>
            </div>
            <div class = "work-imgs">
                <div class = "work-img-1">
                    <!--image here-->
                    
                </div>
                <div class = "work-img-2">
                    <!-- image here -->
                </div>
            </div>
            <h3>"Taking an image, freezing a moment, reveals how rich reality truly is."</h3>
        </div>
    </div>
</section>


<!-- end of main -->