<!-- Service Section Start -->
<section class="service-section" id="services">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1 class="text-center">What I Do ?</h1>
            </div>
        </div>
        <div class="row">
            
            <!-- service Item Start -->
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/family1.jpg" alt="service">
                    <div class="overlay">
                        <h4>Family Photography</h4>
                    </div>
                </div>
            </div>
            <!-- service Item End -->
            <!-- service Item Start -->
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/wedding1.jpg" alt="service">
                    <div class="overlay">
                        <h4>Wedding Photography</h4>
                    </div>
                </div>
            </div>
            <!-- service Item End -->
            <!-- service Item Start -->
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/celebration.jpg" alt="service">
                    <div class="overlay">
                        <h4>Celebration Photography</h4>
                    </div>
                </div>
            </div>
            <!-- service Item End -->
            <!-- service Item Start -->
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/travel1.jpg" alt="service">
                    <div class="overlay">
                        <h4>Travel Photography</h4>
                    </div>
                </div>
            </div>
            <!-- service Item End -->
            <!-- service Item Start -->
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/birds.jpg" alt="service">
                    <div class="overlay">
                        <h4>Animal Photography</h4>
                    </div>
                </div>
            </div>
            <!-- service Item End -->
            <!-- service Item Start -->
            <div class="service-item">
                <div class="service-item-inner">
                    <img src="img/nature.jpg" alt="service">
                    <div class="overlay">
                        <h4>Nature Photography</h4>
                    </div>
                </div>
            </div>
            <!-- service Item End -->
        </div>
    </div>
</section>
<!-- Service Section End -->