<!-- Work Section Start -->
<section class="work-section" id="works">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h1>My Works</h1>
            </div>
        </div>
        <div class="row">
            <!-- Work Item Start -->
            <div class="work-item">
                <div class="work-item-inner">
                    <img src="img/thumb_photo1.jpg" data-large="img/works/large/1.jpg" alt="work">
                    <div class="overlay">
                        <h4>Wedding Photography</h4>
                    </div>
                </div>
            </div>
            <!-- Work Item End -->
            <!-- Work Item Start -->
            <div class="work-item">
                <div class="work-item-inner">
                    <img src="img/thumb_photo1.jpg" data-large="img/works/large/2.jpg" alt="work">
                    <div class="overlay">
                        <h4>Travel Photography</h4>
                    </div>
                </div>
            </div>
            <!-- Work Item End -->
            <!-- Work Item Start -->
            <div class="work-item">
                <div class="work-item-inner">
                    <img src="img/thumb_photo1.jpg" data-large="img/works/large/3.jpg" alt="work">
                    <div class="overlay">
                        <h4>Travel Photography</h4>
                    </div>
                </div>
            </div>
            <!-- Work Item End -->
            <!-- Work Item Start -->
            <div class="work-item">
                <div class="work-item-inner">
                    <img src="img/thumb_photo1.jpg" data-large="img/works/large/4.jpg" alt="work">
                    <div class="overlay">
                        <h4>Portrait Photography</h4>
                    </div>
                </div>
            </div>
            <!-- Work Item End -->
            <!-- Work Item Start -->
            <div class="work-item">
                <div class="work-item-inner">
                    <img src="img/thumb_photo1.jpg" data-large="img/works/large/5.jpg" alt="work">
                    <div class="overlay">
                        <h4>Wedding Photography</h4>
                    </div>
                </div>
            </div>
            <!-- Work Item End -->
            <!-- Work Item Start -->
            <div class="work-item">
                <div class="work-item-inner">
                    <img src="img/thumb_photo1.jpg" data-large="img/works/large/6.jpg" alt="work">
                    <div class="overlay">
                        <h4>Portrait Photography</h4>
                    </div>
                </div>
            </div>
            <!-- Work Item End -->
        </div>
    </div>
</section>
<!-- Work Section End --> 